{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8">
    <title>Лента постов</title>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css" media="screen">
  </head>
  <body>

    <header id="feedheader">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../login/">Log in</a></li>
            <li><a href="../signup/">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </header>


    <main id="feedmain">

      <div class="row" id="feedposts">

        <div class="col s2">
        </div>

        <div class="col s8">
            {% for i in posts %}
              <div class="row">
                <div class="col s2">
                </div>

                <div class="col s8"  id="postcol">
                  <div id="post">
                    <p id="postauthor">{{ i.author }}</p>
                    <p id="posttitle">{{ i.title }}</p>
                    <p id="postcontent">{{ i.content }}</p>
                    <p id="postdatetime">{{ i.published|date:"d.m.Y H:i:s" }}</p>
                  </div>
                </div>

                <div class="col s2">
                </div>
              </div>

            {% endfor %}
            </div>

        <div class="col s2">
        </div>

      </div>
    </main>

    <footer>
      <button type="submit"><a href="../logout/">Logout</a></button>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
