body {
  font-family: 'Istok Web', sans-serif;
  background-color: #eceff1;
}

#postcol {
    background-color: white;
    border-radius: 4px;
}

#postcontent {
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    text-indent: 20px;
}

#postdatetime {
    font-style: italic;
    text-align: right;
    font-size: 12px;
}

#title {
    text-align: left;
    font-size: 30px;
}

#content {
    font-size: 14px;
    line-height: 20px;
}

#postauthor {
    font-weight: bold;
}

#title{
    background-color: white;
}

#content{
    background-color: white;
}

#cls8 {
    background-color: white;
    border: 2px solid #b2ebf2;
    border-radius: 4px;
}

#inrow {
    padding-top: 10px;
}

#subpost {
    padding-bottom: 5px;
}

#feedmain {
    letter-spacing: 0.5px;
    padding-top: 20px;
}

.nav-wrapper{
    background-color: white;
}

nav ul a {
    color: black;
}

nav li:hover{
    background-color: #18ffff;
}

nav .brand-logo {
    color: black;
}

#profilemain {
    padding-top: 10px;
}